*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color1:#fff;
    --color2:#000;
    --color3:blue;
    --color4:rgb(29,216,29);
    --color5:yellow;
    --color6:#ccc;
    --gradient:linear-gradient(45deg,
        hsl(240, 81%, 23%) 0%,
        hsl(284deg 16% 21%) 9%,
        hsl(325, 84%, 7%) 33%,
        hsl(348deg 19% 33%) 62%,
        hsl(7deg 19% 38%) 80%,
        hsl(22, 68%, 7%) 90%,
        hsl(35deg 20% 44%) 96%,
        hsl(55deg 15% 47%) 100%);
}
body{
    background: var(--color6);
}
header{
    text-align: center;
    padding: 2rem;
    background: var(--color1);
    border-bottom: 1px solid var(--color6);
}
main{
    max-width: 133rem;
    margin:auto;
}
.produto-grid{
    display: grid;
    grid-template-columns: repeat(4,minmax(auto, 1fr));
    gap:1rem;
    padding: 2rem;
    margin-left: 100px;
    margin-right: 100px;
}

.produto-item img{
     max-width: 70%;
     margin-bottom: 1rem;
     transition: .5s;
     border-radius: 40px;
}

.produto-item{
    background-image: var(--gradient);
    color:var(--color4);
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.produto-item img:hover{
    scale:1.1;
    cursor: zoom-in;
}
.produto-item p{
    font-size: 1.3rem;
    font-weight:700;
    color:var(--color1);
}
.produto-item div{
    display: flex;
    width:100%;
    justify-content: space-evenly;
}
.span-row-2{
    grid-row: span 2;
}
.span-col-2{
    grid-column: span 2;
}